<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Netty-Websocket</title>
    <!--     ws://127.0.0.1:12345/ws?uid=666&gid=777-->
</head>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

<script type="text/javascript">
    var socket;
    function start() {
        //进入页面就尝试连接socket
        init()
    };

    function init() {
        if (window.WebSocket) {
            console.log($("#uid").val());
            socket = new WebSocket("ws://127.0.0.1:8090/websocket?uid="+$("#uid").val());
            socket.onmessage = function (event) {
                var ta = document.getElementById('responseText');
                console.log(event.data);
                if (event.data == "heart") {
                    //得到了响应就取消关闭socket
                    //console.info(event.data);
                    clearTimeout(closeConnTime);
                    //再次启动定时任务
                    //closeConn();
                    return;
                }
                ta.value += event.data + "\r\n";
            };
            socket.onopen = function (event) {
                var ta = document.getElementById('responseText');
                ta.value += "Netty-WebSocket服务器连接  \r\n";
                //在建立连接的时候就发送心跳和关闭连接操作
                sendHeart();
                //closeConn();
            };
            socket.onclose = function (event) {
                //调用关闭方法的时候清除定时器
                clearInterval(sendHeartTime);
                //关闭后要调用重新连接服务器的方法--如果服务器在这段时间恢复了正常
                //reconnection();
                var ta = document.getElementById('responseText');
                ta.value += "Netty-WebSocket服务器关闭 \r\n";
            };
            //发生了错误事件
            socket.onerror = function() {
                console.log("websocket发生了错误");
            }
        } else {
            alert("您的浏览器不支持WebSocket协议！");
        }

        //5s发送一个心跳--周期时间（多次）
        var sendHeartTime;

        function sendHeart() {
            sendHeartTime = setInterval(function () {
                socket.send("heart")
            }, 500000)
        }

        //10s内服务器没有响应心跳则关闭连接--（一次）
        var closeConnTime;

        function closeConn() {
            closeConnTime = setTimeout(function () {
                socket.close();
            }, 1000000)
        }
    }

    function send() {
        if (!window.WebSocket) {
            return;
        }
        if (socket.readyState === WebSocket.OPEN) {
            socket.send('{"toId":"'+$("#toId").val()+'","word":"'+$("#message").val()+'"}');
        } else {
            alert("WebSocket 连接没有建立成功！");
        }
    }

    function closeSocket() {
        if (socket.readyState === WebSocket.OPEN) {
            socket.close();
            //调用关闭方法的时候清除定时器
            // clearInterval(sendHeartTime);
            //关闭后要调用重新连接服务器的方法--如果服务器在这段时间恢复了正常
            //reconnection();
            var ta = document.getElementById('responseText');
            ta.value += "Netty-WebSocket服务器关闭 \r\n";
        }
    }

    //重新连接
    function reconnection() {
        console.info("重连");
        setTimeout(function () {
            init()
        }, 500000)
    }

    function clearMessage() {
        var ta = document.getElementById('responseText');
        ta.value=null;
    }
</script>
<body>
<form onSubmit="return false;">
    <label>fromId</label><input  id="uid" type="text" name="uid" value="2019211300"/> <br/>
    <label>toId</label><input id="toId"  type="text" name="toId" value="2019211302"/> <br/>
    <label>TEXT</label><input id="message" type="text" name="message" value="这里输入消息"/> <br/><br/>

    <button><a onclick="start()">开启socket</a></button><br/><br/>
    <input type="button" value="关闭socket" onClick="closeSocket()"/> <br/><br/>
    <input type="button" value="清空消息" onClick="clearMessage()"/> <br/><br/>
    <input type="button" value="发送ws消息" onClick="send()"/> <br/><br/>
    <hr color="black"/>

    <h3>服务端返回的应答消息</h3>
    <textarea id="responseText" style="width: 1024px;height: 300px;"></textarea>
</form>
</body>
</html>
